---
const {url,
    title, summary,
    pubDate, endDate, funder, reference,
    heroImage, outcomes,
    urlExternal,
    updatedDate, badge, tags,
    target = "_blank"
  } = Astro.props;
import { Image } from "@astrojs/image/components";

import dayjs from "dayjs";
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
        </h1>
        {summary && <div class="space-x-1 text-1xl">
          {summary}
        </div>}
        
        <div class="card-actions justify-end">
           <span>
            {funder && <span>Funded by {funder} {reference && <span>({reference})</span>}</span>}</span>{pubDate && <time>{dayjs(pubDate).format("YYYY")}</time><span>&mdash;</span>}{endDate ? (<time>{dayjs(endDate).format("YYYY")}</time>) : <span class="italic">present</span>}
        </div>
      </div>
    </div>
  </a>
</div>
